.GITHUB {
    background-color: aqua;
}
.LINKEDIN {
    background-color: aquamarine;
}
.INSTAGRAM {
    background-color: blueviolet;
}
.TWITCH {
    background-color: blue;
}
.YOUTUBE {
    background-color: cadetblue;
}
.PORTIFOLIO {
    background-color: yellow;
}
.TWITTER {
    background-color: yellowgreen;
}
.OUTROS {
    background-color: violet;
}
